
#u7566-5,#u7569-5,#u6961-8,#u6967-8
{
	font-family: bebas-neue-n4, sans-serif;
}

#u6260-4,#u6261-4,#u6268-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u6278-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u6274-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u6283-4
{
	font-family: quattrocento-sans-n7, sans-serif;
}

#u6262-6,#u6262-9,#u6262-12
{
	font-family: arimo-n7, sans-serif;
}

#u6262-5,#u6262-8,#u6262-11
{
	font-family: arimo-n4, sans-serif;
}

